<main class="main">
  <div class="design">
    <img class="design__logo" src="./assets/images/design.svg" alt="Share logo">
    <h1 class="design__title">Diseña</h1>
    <div class="design__cocodrile">></div>
  </div>

  <section class="colors">
    <h2 class="colors__title">Colores</h2>
    <div class="colors__selection"></div>
    <div class="colors__boxes1"></div>
    <div class="colors__boxes2"></div>
    <div class="colors__boxes3"></div>
  </section>
  <section class="row">
    <div class="row__selection"></div>
    <div class="row__boxes1"></div>
    <div class="row__boxes2"></div>
    <div class="row__boxes3"></div>
  </section>
  <section class="again">
    <div class="again__selection"></div>
    <div class="again__boxes1"></div>
    <div class="again__boxes2"></div>
    <div class="again__boxes3"></div>
  </section>

  <section class="share">
    <img class="share__logo" src="./assets/images/share.svg" alt="Design profile area">
    <h1 class="share__title">Comparte</h1>
    <div class="share__cocodrile">></div>
  </section>

  <a class="share__button" title="Crear la tarjeta" href="">Crear tarjeta</a>
  <div class="line"></div>
  <p class="card__created">La tarjeta ha sido creada:</p>
  <a class="card__address" href="">https://awesome-profile-card.com?id=A456DF0001</a>
  <a class="twitter__button" href="">Compartir en twitter</a>
</main>