<nav>Diseña</nav>
<section class="section">
  <nav class="menu">
    <span class="menu__fill">Rellena</span>
    <form class="menu__form" action="" method="post">
      <label class="menu__form--label" for="fullName">Nombre completo </label>
      <input
        class="menu__form--input"
        placeholder="Ej: Sally Jill"
        type="text"
        name="required"
        id="fullName"
      />
      <label class="menu__form--label" for="position">Puesto</label>
      <input
        class="menu__form--input"
        placeholder="Ej: Front end"
        type="text"
        name="required"
        id="position"
      />
      <div>
        <label class="form__label" for="fullName">Imagen de perfil </label>
        <!-- <input
              class="menu__form--input"
              placeholder="Ej: Sally Jill"
              type="text
              name="required""
            /> -->
      </div>
      <label class="menu__form--label" for="email">Email</label>
      <input
        class="menu__form--input"
        placeholder="Ej: sally.hill@gmail.com"
        type="email"
        name="required"
        id="email"
      />
      <label class="menu__form--label" for="telephone">Teléfono </label>
      <input
        class="menu__form--input"
        placeholder="Ej: 555-555-555"
        type="tel"
        name="required"
        id="telephone"
      />
      <label class="menu__form--label" for="linkedin">Linkedin </label>
      <input
        class="menu__form--input"
        placeholder="Ej: linkedin.com/in/sally-hill"
        type="text"
        name="required"
        id="linkedin"
      />
      <label class="menu__form--label" for="github">Github </label>
      <input
        class="menu__form--input"
        placeholder="Ej: @sally-hill"
        type="text"
        name="required"
        id="github"
      />
    </form>
  </nav>
</section>
<nav>Comparte</nav>
