<section>
  <button>Reset</button>
  <div>tarjeta</div>
</section>

<section>
  <nav>Diseña</nav>
  <nav>
    Rellena
    <form action="" method="post" class="form">
      <label class="form__label" for="fullName">Nombre completo </label>
      <input
        class="form__input-text"
        placeholder="Ej: Sally Jill"
        type="text"
        name="required"
        id="fullName"
      />
      <label class="form__label" for="position">Puesto</label>
      <input
        class="form__input-text"
        placeholder="Ej: Front end"
        type="text"
        name="required"
        id="position"
      />
      <div>
        <label class="form__label" for="fullName">Imagen de perfil </label>
        <!-- <input
              class="form__input-text"
              placeholder="Ej: Sally Jill"
              type="text
              name="required""
            /> -->
      </div>
      <label class="form__label" for="email">Email</label>
      <input
        class="form__input-text"
        placeholder="Ej: sally.hill@gmail.com"
        type="email"
        name="required"
        id="email"
      />
      <label class="form__label" for="telephone">Teléfono </label>
      <input
        class="form__input-text"
        placeholder="Ej: 555-555-555"
        type="tel"
        name="required"
        id="telephone"
      />
      <label class="form__label" for="linkedin">Linkedin </label>
      <input
        class="form__input-text"
        placeholder="Ej: linkedin.com/in/sally-hill"
        type="text"
        name="required"
        id="linkedin"
      />
      <label class="form__label" for="github">Github </label>
      <input
        class="form__input-text"
        placeholder="Ej: @sally-hill"
        type="text"
        name="required"
        id="github"
      />
    </form>
  </nav>
  <nav>Comparte</nav>
</section>
