  <section class="gen-main__container">
    <div class="gen-main__container-inner">
      <button class="btn gen-main__btn--reset">Reset</button>
      <div class="gen-main__card">
        <h1 class="card__name-surname">Nombre Apellido</h1>
        <h2 class="card__occupation">Front-end developer</h2>
        <div class="card__photo">
          <img class="card__img" src="" alt="Card Photo" />
        </div>
      </div>
    </div>
  </section>
  <nav class="gen-main__data-form"></nav>
  <!--DESIGN-->

  <nav class="gen-main__customize">
    <!--de momento no se usa-->
    <section class="gen-main__customize-design">
      <!--de momento no se usa-->
      <div class="customize-design__container">
        <img
          class="customize-design__container-logo"
          src="./assets/images/design.svg"
          alt="Share logo"
        />
        <h1 class="customize-design__container-title">Diseña</h1>
        <!--cambiar los h1 a h2-->
        <!-- <div class="customize-design__container-crocodile"></div> -->
      </div>

      <h2 class="customize-design__colors1-title">Colores</h2>
      <section class="customize-design__colors1">
        <div class="customize-design__colors1-selection"></div>
        <div class="customize-design__colors1-boxes1"></div>
        <div class="customize-design__colors1-boxes2"></div>
        <div class="customize-design__colors1-boxes3"></div>
      </section>

      <section class="customize-design__colors2">
        <div class="customize-design__colors2-selection"></div>
        <div class="customize-design__colors2-boxes1"></div>
        <div class="customize-design__colors2-boxes2"></div>
        <div class="customize-design__colors2-boxes3"></div>
      </section>
      <section class="customize-design__colors3">
        <div class="customize-design__colors3-selection"></div>
        <div class="customize-design__colors3-boxes1"></div>
        <div class="customize-design__colors3-boxes2"></div>
        <div class="customize-design__colors3-boxes3"></div>
      </section>
    </section>

    
  </nav>
</main>
