<main class="gen-main">
  <section class="gen-main__container">
    <button class="btn gen-main__btn--reset">Reset</button>
    <div class="gen-main__card">
      <h1 class="card__name-surname">Nombre Apellido</h1>
      <h2 class="card__occupation">Front-end developer</h2>
      <div class="card__photo">
        <img class="card__img" src="" alt="Card Photo">
      </div>
    </div>
  </section>

<!--DESIGN-->

  <nav class="card__contact">
    <div class="design">
      <img class="design__logo" src="./assets/images/design.svg" alt="Share logo">
      <h1 class="design__title">Diseña</h1>
      <div class="design__cocodrile"></div>
    </div>
  
    <section class="colors">
      <h2 class="colors__title">Colores</h2>
      <div class="colors__selection"></div>
      <div class="colors__boxes1"></div>
      <div class="colors__boxes2"></div>
      <div class="colors__boxes3"></div>
    </section>
    <section class="row">
      <div class="row__selection"></div>
      <div class="row__boxes1"></div>
      <div class="row__boxes2"></div>
      <div class="row__boxes3"></div>
    </section>
    <section class="again">
      <div class="again__selection"></div>
      <div class="again__boxes1"></div>
      <div class="again__boxes2"></div>
      <div class="again__boxes3"></div>
    </section>
  
    <!-- FILL -->

          <h1>Rellena</h1>
        </div>
        <form class="menu__form" action="" method="post">
          <!--o es un checkbox??-->
          <label class="menu__form--label" for="fullName">Nombre completo </label>
          <input
            class="menu__form--input"
            placeholder="Ej: Sally Jill"
            type="text"
            name="required"
            id="fullName"
          /><!--desplegar opciones en placeholder?-->
          <label class="menu__form--label" for="position">Puesto</label>
          <input
            class="menu__form--input"
            placeholder="Ej: Front end"
            type="text"
            name="required"
            id="position"
          />
          <div>
            <label class="menu__form--label" for="fullName"
              >Imagen de perfil
            </label>
            <div class="box-image">
              <input
                class="menu__form--button"
                value="Añadir imagen"
                type="submit"
                name="required"
              />
              <!--cambiar placeholder--><!--required??-->
              <div class="menu__form--box"></div>
            </div>
          </div>
          <label class="menu__form--label" for="email">Email</label>
          <input
            class="menu__form--input"
            placeholder="Ej: sally.hill@gmail.com"
            type="email"
            name="required"
            id="email"
          />
          <label class="menu__form--label" for="telephone">Teléfono </label>
          <input
            class="menu__form--input"
            placeholder="Ej: 555-555-555"
            type="tel"
            name="required"
            id="telephone"
          />
          <label class="menu__form--label" for="linkedin">Linkedin </label>
          <input
            class="menu__form--input"
            placeholder="Ej: linkedin.com/in/sally-hill"
            type="text"
            name="required"
            id="linkedin"
          />
          <label class="menu__form--label" for="github">Github </label>
          <input
            class="menu__form--input"
            placeholder="Ej: @sally-hill"
            type="text"
            name="required"
            id="github"
          />
        </form>
      </nav>
    </section>

<!-- SHARE -->

    <section class="share">
      <img class="share__logo" src="./assets/images/share.svg" alt="Design profile area">
      <h1 class="share__title">Comparte</h1>
      <div class="share__cocodrile"></div>
    </section>
    <a class="share__button" title="Crear la tarjeta" href="">Crear tarjeta</a> 
    <div class="line"></div>
    <p class="card__created">La tarjeta ha sido creada:</p>
    <a class="card__address" href="">https://awesome-profile-card.com?id=A456DF0001</a>
    <a class="twitter__button" href="">Compartir en twitter</a>
    <nav>Diseña</nav>
    <section class="section">
      <nav class="menu">
        <div class="menu__fill">
          <img
            class="menu__fill-image"
            src="./assets/images/keyboard-solid.svg"
            alt="keyboard icon"
          />  
  </nav>

  <nav class="gen-main__data-form"></nav>
</main>