<main class="gen-main">
  <section class="gen-main__container">
    <button class="btn gen-main__btn--reset">Reset</button>
    </button>
    <div class="gen-main__card">
      <h1 class="card__name-surname">Nombre Apellido</h1>
      <h2 class="card__occupation">Front-end developer</h2>
      <div class="card__photo">
        <img class="card__img" src="" alt="Card Photo">
      </div>
      <nav class="card__contact">

      </nav>
    </div>
  </section>
  <nav class="gen-main__data-form">

  </nav>
</main>