<!-- SHARE -->

<section class="gen-main__customize-share">
  <div class="customize-share__container">
    <img class="customize-share__container-logo" src="./assets/images/share.svg" alt="Design profile area" />
    <h1 class="customize-share__container-title">Comparte</h1>
    <button class="customize-share__container-btn"></button>
  </div>
  <a class="customize-share__button js__hidden" title="Crear la tarjeta" href="">Crear tarjeta</a>
</section>
<section class="gen-main__customize-share--hidden js__hiddenlink">
  <p class="customize-share__text--hidden">La tarjeta ha sido creada:</p>
  <a class="customize-share__web--hidden" href="">https://awesome-profile-card.com?id=A456DF0001</a>
  <a class="customize-share__twitter--hidden" href="">Compartir en twitter</a>
</section>