// Colors
$color-primary: #f5f5f5;
$color-secondary: #438792;
$color-tertiary: #e17334;

// Font colors
$fontColor-main: #e17334;
$fontColor-secondary: #114e4e;
$fontColor-tertiary: #54585a;
$fontColor-footer: #6b6b6b;
$fontColor-light: #ffffff;
$fontColor-blueish:#438792;
$fontColor-greenish: #a2deaf;

// Fonts
$fontFamily-title: "Merriweather", serif;
$fontFamily-text: "Open Sans", sans-serif;
$fontFamily-title-secondary: "Montserrat", sans-serif;

// Breakpoints
$tablet-min: 768px;
$desktop-min: 1200px;

