.gen-main {
  width: 100%;
  padding: 0px 20px 0px 20px;
  @include tablet {
    background-color: #f5f5f5;
    padding: 20px 40px 20px 40px;
    display: grid;
    grid-template-columns: 326.5px 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
  }

  &__container {
    background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0px 40px 0px;
    @include tablet {
      margin: 0px;
      min-width: 330px;
      width: auto;
      height: 812px;
      border-radius: 6px;
      padding: 173px 45px 0 45px;
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &-inner {
      width: 240px;
    }
  }
  &__btn--reset {
    text-transform: capitalize;
    font-family: $fontFamily-text;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    text-transform: uppercase;
    letter-spacing: normal;
    color: $fontColor-tertiary;
    width: 75px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px $fontColor-light;
    margin: 0 0 20px 0;
    padding: 0px 0px 0px 25px;
    background-image: url(../images/trash.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 10px 5px;
    @include tablet {
      align-self: flex-start;
    }
  }
  &__card {
    width: 240px;
    height: 330px;
    border-radius: 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    background-color: $fontColor-light;
    padding: 21px 0 0 0;
  }
}

.card {
  &__name-surname {
    font-family: $fontFamily-title-secondary;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: $fontColor-secondary;
    padding: 0 0 4px 20px;
    border-left: 5px solid $fontColor-blueish;
  }
  &__occupation {
    font-family: $fontFamily-title-secondary;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: $fontColor-tertiary;
    padding: 0 0 0 20px;
    border-left: 5px solid $fontColor-blueish;
  }
  &__photo {
    padding: 10px 0 0 0;
    background-color: blueviolet;
    width: 240px;
    height: 200px;
  }
}

.customize-design__container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  &-title {
    font-family: $fontFamily-text;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 10px;
    color: $fontColor-tertiary;
  }
  &-logo {
    width: 21px;
    height: 18px;
  }
  // &-crocodile {
  //   justify-content: right;
  //   width: 16px;
  //   height: 18px;
  //   transform: rotate(-90deg);
  //   color: $fontColor-tertiary;
  //   margin-left: 168px;
  // }
}

.gen-main__customize {
  @include tablet {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    width: 326.5px;
  }
  &-design {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  &-menu {
    margin-bottom: 30px;
  }
}

.customize-design__colors1 {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: -35px;

  &-title {
    text-transform: uppercase;
    font-size: 14px;
    font-family: $fontFamily-text;
    color: $fontColor-tertiary;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 22px;
    margin-left: 19px;
    width: 62px;
  }
  &-selection {
    background: #438792;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    margin-top: 32px;
    margin-left: 82px;
  }

  &-boxes1 {
    width: 30px;
    height: 25px;
    background-color: #114e4e;
    margin-top: 28px;
    margin-left: 10px;
  }
  &-boxes2 {
    width: 30px;
    height: 25px;
    background-color: #438792;
    margin-top: 28px;
  }
  &-boxes3 {
    width: 30px;
    height: 25px;
    background-color: #a2deaf;
    margin-top: 28px;
  }
}

.customize-design__colors2 {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  &-selection {
    background: #438792;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    margin-top: 28px;
  }
  &-boxes1 {
    width: 30px;
    height: 25px;
    background-color: #420101;
    margin-top: 20px;
    margin-left: 10px;
  }
  &-boxes2 {
    width: 30px;
    height: 25px;
    background-color: #bd1010;
    margin-top: 20px;
  }
  &-boxes3 {
    width: 30px;
    height: 25px;
    background-color: #e95626;
    margin-top: 20px;
  }
}

.customize-design__colors3 {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  &-selection {
    background: #438792;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    margin-top: 28px;
  }
  &-boxes1 {
    width: 30px;
    height: 25px;
    background-color: #3e5b65;
    margin-top: 20px;
    margin-left: 10px;
  }
  &-boxes2 {
    width: 30px;
    height: 25px;
    background-color: #eab052;
    margin-top: 20px;
  }
  &-boxes3 {
    width: 30px;
    height: 25px;
    background-color: #a0c0cf;
    margin-top: 20px;
  }
}

<<<<<<< HEAD
/*RELLENA*/
.customize-menu__container {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  margin: 0px 0px 20px 0px;
  @include tablet {
    align-items: center;
    margin-bottom: 20px;
  }
  &-logo {
    width: 21px;
    height: 18px;
    margin-top: 7px;
  }
  &-title {
    font-family: $fontFamily-text;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 10px;
    color: $fontColor-tertiary;
  }
}

.customize-menu__form {
  font-size: 14px;

  // font-weight: 00;
  /*me parece que es más gordita la letra*/
  &-label {
    display: flex;
    flex-direction: column;
    color: #114e4e;
    // font-weight: 600; No se queda igual
    line-height: 20px;
    margin-bottom: 7px;
    font-family: $fontFamily-text;
  }
  &-input {
    width: 100%;
    height: 30px;
    border: solid 1px #a2deaf;
    outline-color: #a2deaf;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 0px 0px 0px 10px;
    @include tablet {
      width: 100%;
    }
  }
  &::-webkit-input-placeholder {
    color: #c5c5c5;
  }
}
.action {
  text-align: center;
  margin: 30px;
}
.action__upload-btn {
  background: deeppink;
  border-radius: 15px;
  border: 0;
  box-shadow: 0 0 5px rgba(#000, 0.3);
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  width: 250px;
}
.action__hiddenField {
  /* Ocultamos el input de tipo "file" porque no podemos 
  darle los estilos que queremos */
  display: none;
}

.profile {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.profile__image,
.profile__preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}
.profile__image {
  width: 300px;
  height: 300px;
}

.profile__preview {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
=======
//SHARE
>>>>>>> c1c1aa93a5efccedf6790bb7bdc820b72ade4269

.gen-main__customize-share {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 30px 0px;
  @include tablet {
    margin: 10px 0px 30px 0px;
  }
  &--hidden {
    padding: 20px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d8d8d8;
    border-right: none;
    border-left: none;
  }
}
.customize-share__container {
  display: flex;
  &-title {
    font-family: $fontFamily-text;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 12px;
    color: $fontColor-tertiary;
    @include tablet {
      margin-bottom: 5px;
    }
  }
  &-logo {
    width: 21px;
    height: 18px;
  }

  // &-crocodile {
  //   justify-content: right;
  //   width: 16px;
  //   height: 18px;
  //   transform: rotate(-90deg);
  //   color: $fontColor-tertiary;
  //   margin-left: 137px;
  //  }
}

.customize-share__button {
  display: flex;
  flex-direction: row;
  width: 199px;
  height: 50px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  border-radius: 12px;
  border: 0px;
  font-family: $fontFamily-text;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $fontColor-light;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 30px;
  padding: 13px 18px 13px 48px;
  align-self: center;
  background-color: $color-tertiary;
  background-image: url(../images/address.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 17px 14px;

  @include tablet {
    align-self: center;
  }
}

.customize-share__web--hidden {
  font-family: $fontFamily-text;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $fontColor-main;
  margin-top: 5px;
  text-align: center;
  @include tablet {
    margin: 0px 0px 10px 0px;
  }
}
.customize-share__text--hidden {
  text-align: center;
  font-family: $fontFamily-text;
  font-weight: 600;
  font-size: 18px;
  color: $fontColor-tertiary;
}

.customize-share__twitter--hidden {
  display: flex;
  flex-direction: row;
  width: 181px;
  height: 30px;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  background-color: #00a0f5;
  font-family: $fontFamily-text;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-decoration: none;
  color: $fontColor-light;
  margin: 10px 0px 0px 0px;
  padding: 3px 9px 7px 38px;
  background-image: url(../images/twittersvg.svg);
  // background-position: left;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 10.5px 6px;
  @include tablet {
    margin: 0;
  }
}
