body {
  width: 100vw;
  height: 100vh;
}
.main {
  background-color: $color-primary;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 95px 26.4px 30px 25.6px;
  @include tablet {
    padding: 350px 0px 59px 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  &__logo {
    width: 250px;
    margin: 0px 0px 35.4px 0px;
    justify-self: center;
    @include tablet {
      margin: 0px;
      grid-column: 2/4;
      width: 419px;
    }
  }
  &__title {
    font-family: $fontFamily-title;
    color: $fontColor-main;
    font-size: 19.2px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    @include tablet {
      margin: 31px 0px 0px 0px;
      grid-column: 2/4;
      font-size: 24px;
    }
  }
  &__text {
    font-family: $fontFamily-text;
    color: $fontColor-secondary;
    font-size: 12.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin: 0px 0px 17.8px 0px;
    @include tablet {
      width: 331px;
      justify-self: center;
      grid-column: 2/4;
      font-size: 16px;
      margin: 0px 0px 27px 0px;
    }
  }
  &__benefits {
    justify-self: center;
    display: flex;
    border-radius: 4px;
    border: solid 1.6px rgba(225, 115, 52, 0.21);
    width: 268px;
    padding: 15px 20px 10px 20px;
    margin: 0px 0px 38.6px 0px;
    justify-content: space-between;
    @include tablet {
      margin: 0px 0px 186px 0px;
      grid-column: 2/4;
      justify-self: center;
      width: 325px;
    }
    &-item {
      width: 60px;
      height: 48.8px;
      text-align: center;
      margin: 0px 0px 7.8px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        margin: 0px 0px 12px 0px;
      }
    }
    &-itemimg {
      width: 32px;
    }
    &-itemimg2 {
      width: 25px;
    }
    &-itemtitle {
      font-family: $fontFamily-text;
      color: $fontColor-tertiary;
      font-size: 12.8px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }
  &__button {
    text-decoration: none;
    width: 129px;
    height: 42px;
    background-color: $color-secondary;
    border-radius: 21px;
    border: 0px;
    font-family: $fontFamily-text;
    color: $fontColor-light;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    justify-self: center;
    @include tablet {
      margin: 0px;
      grid-column: 2/4;
    }
  }
}
